{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Welcome {{ user.username }}</h2>
  {% endif %}
  
  <div class="recommended-container">
    <h2>Recommended Listings</h2>
    {% for item in recommended_items|slice:":4" %}
      <a href="{% url 'item_detail' pk=item.id %}" class="item-box">
        <img src="{{ item.image.url }}" class="item-image" alt="{{ item.title }}">
        <div class="item-title">{{ item.title }}</div>
        <div class="item-price">${{ item.price }}</div>
      </a>
    {% endfor %}
    <div class="view-more">
      <a href="{% url 'browse' %}" class="view-more-btn">View More Listings</a>
      <a href="{% url 'my_items' %}" class="view-more-btn">View Your Listed Items</a>
    </div>
  </div>

  <style>
    .recommended-container {
      margin-top: 20px;
    }

    .view-more {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .view-more-btn {
      padding: 10px 30px;
      background-color: darkblue;
      color: white;
      text-decoration: none;
      font-size: 18px;
      border-radius: 5px;
    }

    .view-more-btn:hover {
      background-color: blue;
    }

    .items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 680px; /* 2 rows x 320px height + 40px margin */
    }

    .item-box {
      display: inline-block;
      margin: 20px;
      padding: 5px;
      border: 2px solid darkblue;
      text-align: center;
      width: calc(24% - 40px);
      height: 320px;
      text-decoration: none;
    }

    .item-image {
      width: 90%;
      height: 80%;
      object-fit: contain;
    }

    .item-title {
      margin-top: 5px;
      font-size: 18px;
    }

    .item-price {
      margin-top: 5px;
      font-size: 18px;
      font-weight: bold;
    }

    @media screen and (max-width: 1200px) {
      .item-box {
        width: calc(33.33% - 40px);
      }
    }

    @media screen and (max-width: 992px) {
      .item-box {
        width: calc(50% - 40px);
      }
    }

    @media screen and (max-width: 576px) {
      .item-box {
        width: calc(100% - 40px);
      }
    }

    .view-more-btn {
        margin-right: 10px;
    }
  </style>
{% endblock %}
