{% extends 'base.html' %}

{% block content %}
  <h1>Browse Listings</h1>
  <hr>
  {% for listing in listings %}
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">{{ listing.title }}</h5>
        <p class="card-text">{{ listing.description }}</p>
        <p class="card-text">Starting bid: {{ listing.starting_bid }}</p>
        <a href="{% url 'listing_detail' listing.pk %}" class="btn btn-primary">View Listing</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
